<div class="container" [style.height]="bgheight">
  @if (!loading) {
    <div class="bg" [style.background-image]="'url(' + album.cover + ')'">
    </div>
  }
</div>
@if (!loading) {
  <div class="detail" #detail>
    <img [src]="album.cover" class="cover" />
    <div class="list">
      <h1 [style.color]="textColor">{{ album.artist }} - {{ album.album }}</h1>
      <h2 [style.color]="textColor">LPs: {{nLPs}}</h2>
      <h2 [style.color]="textColor">Songs: {{nSongs}}</h2>
    </div>
  </div>
}
@if (loading) {
  <img src="assets/load.gif" class="load" [style.height]="imgwidth" [style.width]="imgwidth" />
}
