<p>
  <a routerLink="/"><img src="assets/folder.svg" width="20px">..</a>
</p>
@for (folder of folders; track folder) {
  <span>
    @if (folder.type === 'd') {
      <p>
        <a routerLink="/{{current}}/{{folder.name}}"><img src="assets/folder.svg" width="20px">{{folder.name}}</a>
      </p>
    }
    @if (folder.name === 'No such file or directory') {
      <p>
        No such file or directory!
      </p>
    }
  </span>
}
@for (folder of folders; track folder) {
  <span>
    @if (folder.type === '-') {
      <p>
        <a routerLink="/viewer/{{current}}/{{folder.name}}">{{folder.name}}</a>
      </p>
    }
  </span>
}