<div class="container-fluid noselect score">
  <label (click)="save()">Save</label>
  @if (!mobile) {
    <span style="position: absolute; left: 50%; transform: translate(-50%)">Score: {{game.score}}</span>
  }
  <span style="position: absolute; right: 15px;" (click)="ngOnInit()">Restart</span>
  @if (mobile) {
    <p style="position: absolute; left: 50%; transform: translate(-50%)">Score: {{game.score}}</p>
  }
</div>
<div class="container-fluid noselect" [ngClass]="height">
  <table class="game2048">
    @for (row of game.fields; track row) {
      <tr>
        @for (field of row; track field) {
          <td>
            <div class="fields text-center">
              <div class="field" [ngClass]="field.color">
                <p>
                  {{field.number}}
                </p>
              </div>
            </div>
          </td>
        }
      </tr>
    }
  </table>
  @if (game.lose) {
    <div class="lose noselect" (click)="ngOnInit()">
      <span>You lost.
        <br>Score: {{game.score}}</span>
      </div>
    }
  </div>
  <div class="container-fluid">
    <h1>Leaderboard</h1>
    <table class="table">
      <thead>
        <th>Place</th>
        <th>Name</th>
        <th>Score</th>
        <th>Time</th>
      </thead>
      @for (person of leaderboard.g2048.people; track person; let i = $index) {
        <tr>
          <td>{{i+1}}</td>
          <td>{{person.name}}</td>
          <td>{{person.score}}</td>
          <td>{{person.time}}</td>
        </tr>
      }
    </table>
  </div>
