/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

html {
  font-family: 'Fira Sans', sans-serif;
}

p {
  margin: 0.5%;
}

.zoombutton {
  margin-bottom: 30px;
  font-size: xx-large;
  width: 190px;
  height: 60px;
  background: none;
  color: cornflowerblue;
  border: 2px solid cornflowerblue;
  border-radius: 10px;
}

.zoombutton:hover {
  background-color: cornflowerblue;
  color: white;
}

.zoombutton:focus {
  background-color: cornflowerblue;
  color: white;
  outline: 0;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hover:hover {
  z-index: 23000;
}

.years {
  left: -4px;
  margin-top: 10px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: rgba(177, 177, 177, 0.8);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(177, 177, 177, 0.4);
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /*safari and chrome*/
  select {
    height: 35px;
    line-height: 35px;
  }
}
select::-moz-focus-inner {
  /*Remove button padding in FF*/
  border: 0;
  padding: 0;
}
@-moz-document url-prefix() {
  /* targets Firefox only */
  select {
    padding: 15px 0 !important;
  }
}
@media screen\0 {
  /* IE Hacks: targets IE 8, 9 and 10 */
  select {
    height: 30px;
    line-height: 30px;
  }
}
