/* You can add global styles to this file, and also import other style files */
html,
body {
  width: 100%;
  margin: 0;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  padding-right: 50px;
}

.parent {
  font-size: 0;
}

.child {
  display: inline-block;
  font-size: initial;
}

::-webkit-scrollbar {
  width: 0;
}
