/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
}
