/* You can add global styles to this file, and also import other style files */
body,
html {
  margin: 0;
  height: 100%;
}

@media (max-width: 575.98px) {
  body {
    font-size: 0.6rem;
    line-height: 1.5;
  }

  .icon {
    height: 2.5rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    font-size: 0.7rem;
    line-height: 1.5;
  }

  .icon {
    height: 2.9rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    font-size: 0.8rem;
    line-height: 1.5;
  }

  .icon {
    height: 3rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    font-size: 0.9rem;
    line-height: 1.5;
  }

  .icon {
    height: 3.6rem;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 1rem;
    line-height: 1.5;
  }

  .icon {
    height: 4rem;
  }
}

.container {
  position: relative;
}

.server {
  padding: 20px;
  color: lightgrey;
  top: 100px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  border: rgba(255, 255, 255, 0.9) 2px solid;
  border-radius: 10px;
  z-index: 5000;
}

.server2 {
  padding: 20px;
  color: lightgrey;
  top: 300px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  border: rgba(255, 255, 255, 0.9) 2px solid;
  border-radius: 10px;
  z-index: 5000;
}

.outer {
  image-rendering: pixelated;
}

.top {
  height: 100px;
  background-image: url(assets/grass.png);
  background-size: 100px;
  image-rendering: pixelated;
}

.middle {
  height: 200px;
  background-image: url(assets/dirt.png);
  background-size: 100px;
  image-rendering: pixelated;
}

.bottom {
  background-image: url(assets/stone.png);
  background-size: 100px;
  image-rendering: pixelated;
  position: absolute;
  top: 200px;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}
