form {
  margin: 20px;
  font-family: 'Ubuntu', sans-serif;
}

form label {
  font-size: 18pt;
}

form input {
  font-size: 16pt;
  margin-top: 5px;
}

form button {
  font-size: 16pt;
}

form input.date {
  font-size: 14pt;
}

.pre {
  margin: 20px;
}

div img {
  border: 3px darkgrey solid;
  border-radius: 5px;
}

.sep {
  border-top: 2px solid darkgrey;
  width: 40%;
  display: inline-block;
}

.side {
  margin-left: 30px;
}

.song {
  margin-left: 30px;
}

div {
  font-family: 'Ubuntu', sans-serif;
}
