@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.game {
  font-family: 'Roboto', sans-serif !important;
  border-style: solid;
  border-width: 5px;
}

.controls {
  font-family: 'Roboto', sans-serif !important;
  margin-left: 150px;
  margin-top: 50px;
  white-space: nowrap;
  position: relative;
}

.btn {
  font-family: 'Roboto', sans-serif !important;
  font-size: xx-large;
  width: 100px;
  height: 100px;
  position: absolute;
}

.left {
  top: 50px;
}

.up {
  left: 100px;
}

.down {
  top: 100px;
  left: 100px;
}

.right {
  top: 50px;
  left: 200px;
}

.lost {
  font-family: 'Roboto', sans-serif !important;
  position: absolute;
  top: 300px;
  left: 300px;
  transform: translate(-50%, -50%);
}

.contain {
  font-family: 'Roboto', sans-serif !important;
  position: relative;
  width: 610px;
  height: 870px;
}

.leaderboard {
  font-family: 'Roboto', sans-serif !important;
  height: 870px;
}

.score {
  font-family: 'Roboto', sans-serif !important;
  position: absolute;
  top: 5px;
  left: 470px;
}

@media (min-width: 1200px) {
  .contain {
    display: inline-block;
  }

  .leaderboard {
    position: absolute;
    display: inline-block;
    margin-left: 10px;
  }
}
