<div class="container">
  <div class="server">
    <div style="display: inline-block;"><img [src]="status.favicon" style="display:block; float: left;" /></div>
    <div style="margin-left: 10px; display: inline-block; ">
      <b>
        <p style="border-bottom: lightgrey 2px solid; font-size: larger">
          <span>IP: sorogon.eu </span>
          <span style="margin-left: 100px">
            <span *ngIf="status.online" style="color:green">Online!</span><span *ngIf="!status.online" style="color:red">Offline!</span>
          </span>
        </p>
        <p>
          Players: <span style="color: royalblue">{{ status.players.now }}/{{ status.players.max }}</span>
        </p>
      </b>
    </div>
  </div>
</div>
<div class="outer">
  <div class="top"></div>
  <div class="middle"></div>
  <div class="bottom"></div>
</div>
