.load {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hover {
  position: absolute;
  pointer-events: none;
}

.parent { 
  font-size: 0;
}

.child {
  display: inline-block;
  font-size: initial;
  position: relative;
}
