<div class="modal-header">
  <h4 class="modal-title">
    <strong>You Win!</strong>
  </h4>
</div>
<div class="modal-body">
  <p>Your Time: {{time}}</p>
  <p>Save your score to the Leaderboard?</p>
  @if (name.save) {
    <label>Name:</label>
  }
  @if (name.save) {
    <input type="text" name="name" [(ngModel)]="name.name" placeholder="Name" class="form-control">
  }
</div>
<div class="modal-footer">
  @if (!name.save) {
    <button type="button" class="btn btn-outline-danger" (click)="no()">No</button>
  }
  @if (!name.save) {
    <button type="button" class="btn btn-outline-success" (click)="yes()">Yes</button>
  }
  @if (name.save) {
    <button type="button" class="btn btn-outline-danger" (click)="cancel()">Cancel</button>
  }
  @if (name.save) {
    <button type="button" class="btn btn-outline-success" (click)="save()">Save</button>
  }
</div>